

#container {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

#left-panel {
    width: 30%;
}

#info {
    margin-top: 30px;
}

#canvas {
    background-color: white;
    margin: auto;
    display: inline-block;
    border: 1px solid black;
    width: 800px;
    height: 500px
}

#sliders {
    margin: auto;
    width: 500px;
    height: 100px;
    display: block;
}